/*.progress_bar > .bar{
    -fx-background-color: linear-gradient(
        from 0px .75em to .75em 0px,
        repeat,
        -fx-accent 0%,
        -fx-accent 49%,
        derive(-fx-accent, 30%) 50%,
        derive(-fx-accent, 30%) 99%);
}

.progress_pie {
    -fx-progress-color:#ff33cc;
}*/

// CSS CLASS FOR OUR BIG PANES
.bordered_pane {
    -fx-background-color: #0971B2;
    -fx-background-radius: 5.0;
    -fx-padding: 15;
    -fx-spacing: 10;
    -fx-border-width: 3px;
    -fx-border-color: #000000;
}

// CSS FOR TABLEVIEW
.table-view {
    -fx-border-width: 2px;
    -fx-border-color: #000000;
    -fx-padding: 10px;
    -fx-background-color: #032840;
}
.table-row-cell:empty {
    -fx-background-color: lightyellow;
}

.table-view .column-header{
    -fx-background-color: #FFDA24;
}
.table-view .column-header-background{
    -fx-background-color: #FFDA24;
}

.dialog_heading {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}
//  CSS FOR TOGGLE GROUP
.toggle_group {
    -fx-spacing: 10;
    -fx-background-color: #CCCCCC;
    -fx-border-width: 2px;
    -fx-border-color: #000000;
    -fx-padding: 5;
}

// CSS CLASS FOR LABELS HEADING LARGE SECTIONS IN THE GUI
.heading_label {
    -fx-font-size: 20pt;
    -fx-font-weight: bold;
    -fx-text-fill: #CCCCCC;
}

.heading_box {
    -fx-background-color: #B21212;
    -fx-border-width: 3px;
    -fx-border-color: #000000;
}

// CSS CLASS FOR LABELS HEADING SUBSECTIONS IN THE GUI
.subheading_label {
    -fx-padding: 10;
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
    -fx-text-fill: #CCCCCC;
}
.dialog_subheading_label {
    -fx-padding: 10;
    -fx-font-size: 14pt;
    -fx-font-weight: bold;
    -fx-text-fill: #000000;
}

.text_label {
    -fx-font-size: 12pt;
    -fx-font-weight: bold;
}

// CSS CLASS FOR LABELS SERVING AS PROMPTS IN THE GUI
.prompt_label {
    -fx-font-size: 10pt;
    -fx-font-weight: bold;
}
